<h1 class="page-heading">Editing Task</h1>

<%= render 'form', task: @task %>

<div class="center-items">
  <%= link_to 'Show', @task, class: 'page-link' %> |
  <%= link_to 'Back', tasks_path, class: 'page-link' %>
</div>
