.top-header {
  background-color: var(--black);
  padding: 15px;
}

.top-header .title {
  font-size: 1.4em;
  color: var(--white);
  margin-left: 25px;
  display: inline;
}

.top-header p {
  font-size: 0.75em;
  color: var(--white);
}

.top-header .logout-text {
  text-decoration: none !important;
  font-size: 1.5em;
}
